@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    font-family: 'Shadows Into Light', cursive;
}

body {
    background-color: #040404;
    color: #ebebeb;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: 1vh;
}

button {
    background-color: #040404;
    padding: 1rem;
    cursor: pointer;
}

.scoreboard {
    width: 25vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

img {
    background-color: #040404;
    width: 150px;
    cursor: pointer;
}

.choices {
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 8vh;
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

#resultwindow {
    margin-top: 12vh;
    display: none;
}

#replay {
    width: 100%;
    border: none;
    outline: none;
}

#replay > h3 {
    margin: auto;
    width: fit-content;
    color: #ebebeb;
    border: 1px solid #ebebeb;
    font-size: 1.6rem;
    padding: 5px 25px;
    border-radius: 20px;
}